.header {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo img {
    width: 30px;
    height: 30px;
}

.logo span {
    font-size: 18px;
    font-weight: 900;
}
